Hello developers and collaborators!
Welcome to our blog page project.
Pay attention to the instructions carefully.

Dave Wonnah(Collaborator)
You are responsible for the HTML. Please make sure to use semantic HTML.
Also create an image folder to include all our images and icons.
We will collaborate on the JS together.

Sam B. Morris(Owner)
I'll do the CSS and we'll collaborate on the JS.
